<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uploads</title>
    <link rel="stylesheet" th:href="@{/style3.css}">
</head>
<body>
<h2>All Uploads</h2>
<table border="1">
    <thead>
    <tr><th>ID</th><th>Filename</th><th>Content</th></tr>
    </thead>
    <tbody>
    <tr th:each="u : ${uploads}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.filename}">filename</td>
        <td th:utext="${u.content}">content</td>
    </tr>
    </tbody>
</table>
<p><a href="/home" class="button-orange">Home</a></p>
</body>
</html>
