<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout (~{::title}, ~{::body})"
      th:with="title='File Upload', page='upload'">

<body>
<section>
  <h2>Upload a File</h2>

  <form method="post" action="/upload" enctype="multipart/form-data">
    <input type="hidden" name="csrfToken" th:value="${csrfToken}"/>
    <input type="file" name="file" required>
    <button class="button-orange" type="submit">Upload</button>
  </form>

  <p style="margin-top:1.4rem;">
    You can see all the uploaded files from this <a th:href="@{/uploads}">link</a>.
  </p>
</section>
</body>
</html>
